.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    width: 100vw;
    height: 100vh;
}
.login-container__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 2rem;
    border-radius: 1rem;
    height: 50%;
    width: 40%;
}
.login-container__box-logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.paragraph-title{
    font-size: var(--font-heading-2);
    margin: 0;
    padding: 0;
}
.login__box-title{
    color: var(--color-gray);
}
.error-message{
    color: red;
    margin: 0.5rem 0;
    background-color: lightpink;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
}
.login__box-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.login__box-form-inputs label{
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}
.login__box-form-input{
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-gray-light);
}
.password-wrapper{
    position: relative;
    display: flex;
    align-items: center;

}
.password-wrapper button{
    position: absolute;
    border: none;
    background-color: transparent;
    right: 1rem;
}
.login__box-form-button{
    background-color: black;
    width: 100%;
    color: var(--color-secondary);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
}
.login__box-demoCredentials{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-gray-light);
    border-radius: 0.5rem;
    padding: 0.8rem;
    box-sizing: border-box;
    margin-top: 1rem;
    gap: 1rem;
}
.paragraph-title-2{
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.login__box-demoCredentials__content{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 450px) {
    .login-container{
        height: 100vh;
        padding: 1rem;
        box-sizing: border-box;
    }
    .login-container__box {
        width: 100vw;
        height: 100%;
        box-sizing: border-box;
    }
}