@font-face {
    font-family: 'pt-sans';
    src: url('./assets/fonts/Pt_Sans/PtSans-Regular.ttf') format('truetype');
}

body{
    font-family: 'pt-sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* div{
    border: 1px solid red;
} */